.directory

*.apk
*.ap_
*.class
*.log
*.iml
*.gradle
*.xcf

.gradle
.idea
.navigation
.externalNativeBuild

output.json
local.properties
gradle-wrapper.properties
crowdin.properties
gradle.properties

.idea/
build/
captures/
obj/
bin/
gen/
app/release/
app/flavor*
app/src/main/res/raw/*
